.img-home {
    display: block;
    width: 100%;
    height: auto;
  }
  
  h1,
  h2,
  h3 {
    margin: 0;
    padding: .5em 0;
  }
  
  p {
    margin: 0;
    padding: .5em 0;
  }
  
  .btn {
    display: inline-block;
    background: rgb(45, 32, 73);
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    margin: 0.5em 0;
  }
  
  .btn:hover {
    background: #eaeaea;
    color: rgb(47, 52, 99);
  }
  
  /* Header Showcase */
  
  #showcase {
    min-height: 450px;
    color: #ccc;
    text-align: center;
  }
  
  #showcase .bg-image {
    position: absolute;
    background: #333
      url("https://images.unsplash.com/photo-1533650936805-912836eda0fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 0.6;
  }
  
  #showcase h1 {
    padding-top: 100px;
    padding-bottom: 0;
    color: rgb(45, 32, 73);
    font-weight: 700;
 }
  #showcase p {
      color: #fff;
  }
  #showcase .content-wrap,
  #section-a .content-wrap {
    padding: 0 1.5em;
  }
  
  /* Section A */
  
  #section-a {
    background: #eaeaea;
    color: #333;
    padding-bottom: 2em;
  }
  
  /* Section B */
  
  #section-b {
    padding: 2em 1em 1em;
  }
  
  #section-b ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  #section-b li {
    margin-bottom: 1em;
    background: #fff;
    color: #333;
  }
  
  .card-content {
    padding: 1.5em;
  }
  
  /* Section C */
  
  #section-c {
    background: #fff;
    color: #333;
    padding: 2em;
  }
  
  /* Section D / Boxes */
  
  #section-d .box {
    padding: 2em;
    color: #fff;
  }
  
  #section-d .box:first-child {
    background: #2690d4;
  }
  #section-d .box:last-child {
    background: #585d88;
  }
  

  /* Media Queries */
  
  @media (min-width: 700px) {
    .grid {
      display: grid;
      grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }
    .content-wrap h1{
        font-size: 2em;
    }
    #section-a .content-text {
      columns: 2;
      column-gap: 2em;
    }
  
    #section-a .content-text p {
      padding-top: 0;
    }
  
    .content-wrap,
    #section-b ul {
      grid-column: 2/4;
    }
  
    .box {
      grid-column: span 2;
    }
  
    #section-b ul {
      display: flex;
      justify-content: space-around;
    }
  
    #section-b li {
      width: 31%;
    }
  }
  