.dashboard-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
    margin: 0 auto;
  }
  .dashboard-container h3 {
    font-weight: 100;
    font-size: 2em;
  }
  .dashboard-container .dashboard-username {
    color: #444;
    font-style: italic;
  }
  
  .dashboard-container h3,
  p,
  a {
    margin-left: 20px;
  }
  .dashboard-container p {
    padding: 10px;
  }
  .dashboard-container .btn-create-customer {
    text-decoration: none;
    padding: 20px;
    background-color: #341456;
    color: #fff;
    border-radius: 10px;
    margin-top: 25px;
  }
  .dashboard-container .btn-create-customer:hover {
    background-color: #6f38aa;
   
  }
  
  .dashboard-container h3 a {
    color: #444;
  }