.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  width: 80%;
  margin: 0 auto;
  grid-gap: 15px;
}
.product-container div {
  box-sizing: border-box;
}
@media (max-width: 700px){
  .product-container {  
    grid-template-columns: 1fr;
    grid-gap: 8px;
    width: 90%;
  }
}