.product-detail-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    width: 80%;
    margin: 0 auto;
    grid-gap: 15px;
  }
  .product-container div {
    box-sizing: border-box;
  }
  .product-detail{
    display:grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    background: #fcfcfc;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  .badge-detail {
    position: relative;
    text-align: center;
    left: -140px;
    top: 1px;
    font-size: 1.5em;
    font-weight: 900;
    background: red;
    color: #fcfcfc;
    padding: 3px 10px;
    width: 50%;
    transform: rotate(-45deg);
    border-top-left-radius: 1em;
    border-top-right-radius: 0.9em;
  }
  .product-detail-tumb {
    
    align-items: center;
    justify-content: center;
    height:400px;
    padding: 50px;
   
  }
  
  .product-detail-tumb img {
    max-width: 100%;
    max-height: 100%;
  }
  .product-detail-desc{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 100px 200px;
    grid-row-gap: 10px;
  }
  .product-detail-icons {
   list-style: none;
    text-align: right;
    
  }
  .product-detail-icons li {
    display: inline;
    padding: 20px;
  }
.product-detail-icons i {
  color: #c5c0c0;
  cursor: pointer;
}
.i-add-color:hover{
  color: #19964d;
}
.i-minus-color:hover{
  color: rgb(184, 68, 68);
} 
.product-detail-qty{
    border: 2px solid #ccc;
    border-radius: .5em;
    padding: 15px;
    font-size: 1.2em;
    font-weight: 700;
  }
  .product-detail-price {
    font-size: 1.8em;
    color: #341456;
    font-weight: 700;
  }
  
  .product-detail-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
    color: red;
  }
.product-detail-desc a{
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  color: #fff;
  background: #341456;
  border-radius: .5em;
  text-decoration: none;
  font-weight: 700;
}