.nav-bar {
  color: #fff;
}
.nav-bar ul li {
  display: inline;
  list-style: none;
  padding: 10px;
}

.nav-bar ul li a {
  color: #fff;
  text-decoration: none;
}
.nav-two {
  justify-self: flex-end;
}

.nav-one {
  justify-self: flex-start;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 1.2em;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
/*
.navbar a:hover,
.dropdown:hover .dropbtn,
.dropbtn:focus {
  background-color: rgb(70, 64, 155);
}
*/
.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: rgb(139, 150, 189);
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em;
}

.show {
  display: block;
}
