.category-form-container{
    display: grid;
    margin:0 auto;
    width: 40%;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 5px;
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 1fr;
    border-radius: .5em;
}
.category-form-container button{
    margin: 0 auto;
    padding: 2px;
    border-radius: .5em;
    border: none;
    background-color: #341456;
    color: #fff;
    cursor: pointer;
    margin: 0 auto;
    font-size: 1em;
    width: 30%;
}
.category-form-container button:hover{
    background-color: #7d59a3;
}

.category-form-container textarea{
    resize: none;
    width: 98%;
    padding: 8px;
}
.category-form-container input[type="text"]{
    padding: 8px;
    font-size: 1em;
    width: 98%;
}